.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-items: center;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  height: 3rem;
  background: #265cb0;
  padding: 5px;
  border: 1px solid;
  border-color: #183b71 #132f5a #1e4a8d;
  color: white;
  z-index: 1;
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

.map-input-box button:hover {
  height: 3rem;
  background: #1e4a8d;
  padding: 5px;
  border-radius: 5px;
  border-color: #183b71 #132f5a #1e4a8d;
  color: white;
  z-index: 1;
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

@media screen and (max-width: 480px) {
  .map-input-box {
    margin-left: 6rem;
    margin-top: 5rem;
  }

  .map-input-box {
    height: 3rem;
  }
  .map-input-box button {
    height: 3rem;
  }

  .map-input-box button:hover {
    height: 3rem;
  }
}
