.productAds__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 15rem;
  max-width: 15rem;
  padding: 15px;
  min-height: 20rem;
  max-height: 25rem;
  font-weight: 300;
  z-index: 1;
  background-color: white;
  overflow-x: scroll;
}
.productAds__home-body {
  justify-content: center;
  align-items: center;
}
.productAds__home-body > * {
  align-items: center;
}

.productAds__image {
  min-height: 20rem;
  max-height: 25rem;
  width: 100%;
  object-fit: contain;
}

.productAds__link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 480px) {
  .productAds__home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
    max-width: 15rem;
    padding: 5px;
    min-height: 20rem;
    max-height: 25rem;
    z-index: 1;
    background-color: white;
    overflow-x: scroll;
    border-bottom: 0.1rem #132f5a solid;
  }
  .productAds__home-body {
    font-size: small;
  }
  .productAds__home-body > * {
    align-items: center;
  }

  .productAds__image {
    margin-top: 1rem;
    min-height: 10rem;
    max-height: 10rem;
    object-fit: contain;
  }

  .productAds__link {
    text-decoration: none;
    color: black;
  }
}
