.profile__container {
  height: 100vh;
  background-color: white;
}

.form {
  max-width: 30rem;
  width: 100%;
  padding-top: 75px;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 10px 0;
}
.form input {
  font-size: 1.5rem;
}

.btn__update {
  margin-top: 20px;
  background: #265cb0;
  padding: 10px;
  color: white;
}

.btn__update:hover {
  background: #1e4a8d;
  color: white;
  padding: 10px;
  cursor: pointer;
}
